.game-over {
  width: 700px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  padding-top: 300px;
  font-size: 20px;
}

.trophy {
  width: 450px;
  height: 350px;
}

.btn {
  display: flex;
  background-color: #cf60c8;
  margin-bottom: 20px;
  align-items: center;
  border: none;
  font-size: 20px;
  color: #ffffff;
}
