.flex-row {
  display: flex;
  align-items: center;
}

.nav-bar {
  margin: 0px;
  padding: 10px;
  justify-content: space-between;
  background-color: #2c0e3a;
  color: #ffffff;
  flex-wrap: wrap;
}

.website-logo {
  height: 50px;
  width: 200px;
  margin-left: 50px;
}

.game-details {
  padding-right: 50px;
  margin: 0px;
}

.timer {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 20px;
}
