.tabs-container {
  display: flex;
}

.thumbnail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.play-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-container {
  min-height: 100vh;
  max-width: 100vw;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  padding-bottom: 50px;
}
.sub-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
